/* -------------------------------------------------------------------------
 * SETTINGS/GLOBALS
--------------------------------------------------------------------------*/

// Typography
$global-font-family: -apple-system, BlinkMacSystemFont, Droid Sans,
  Helvetica Neue, sans-serif;
$global-font-weight: 400;
$global-font-style: normal;
$global-font-size: 16px;
$global-line-height: 24px;
$global-letter-spacing: 0.2rem;

// UI
$global-border-radius: 5px;
